.copyButton {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  color: #21201c;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.04);
}
