.wrapper {
  transform-style: preserve-3d;
  perspective: 500px;
}

.circle {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  background: #fad757;
}

.orbitingCircle {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #3284ee;
  animation: orbit 4s linear;
  animation-iteration-count: infinite;
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotateY(0deg) translateZ(74px)
      rotateY(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotateY(360deg) translateZ(74px)
      rotateY(0deg);
  }
}
